.button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.link {
  padding: 0;
}

.icon {
  color: var(--detailsColor);
  height: 20px;
  width: 20px;
  margin-left: 6px;
  margin-right: 6px;
}

.after {
  color: var(--aVeryNiceBlue);
}

.messageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.description {
  font-size: 12px;
  margin: 0;
  padding: 0;
}