.itemContainer {
  max-width: 360px;
  padding: 20px;
  margin: 20px;
  border: '1px solid transparent';
  box-shadow: 2px 2px 10px rgba(25, 25, 25, .2);
  border-radius: 20px;
}

.imageWrapper {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img {
  height: 300px;
  margin: 10px;
}

.itemLabel {
  font-family: Cheese;
}

.itemPrice {
  font-family: Cheese;
  color: darkslategray;
}