 .itemContainer {
  max-width: 300px;
  padding: 20px;
  margin: 20px 10px 20px 10px;
  border: '1px solid transparent';
  box-shadow: 2px 2px 10px rgba(25, 25, 25, .2);
  border-radius: 20px;
}

.soldOutOverlay {
  position: relative;
  left: -20px;
  top: calc(-100% - 20px);
  height: calc(100% + 40px);
  width: calc(100% + 40px);
  z-index: 99;
  background-color: #aaaaaa70;
  border-radius: 20px;
}

.imageWrapper {
  height: 220px;
  width: 250px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img {
  height: 220px;
  margin: 10px;
  border-radius: 20px;
}


.thumbnailsImageWrapper {
  height: 28px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.thumbnailsImage {
  height: 30px;
}


.itemLabel {
  font-family: ultraThin;
  font-weight: 600;
  font-size: 20px;
  margin: 20px 0 0 0;
}

.expandButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 16px 0 16px 0;
  color: black;
}

.collapsed {
  margin-right: 8px;
  transform: rotate(90deg);
}

.expanded {
  margin-right: 8px;
}