body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --headerBackground: #9B6F62;
  --titleColor1: #FFF8E8;;
  --titleColor2: white;
  --detailsColor: #47322B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Bunny';
  src: local('Bunny'), url(./assets/fonts/bunny.ttf) format('truetype');
}

@font-face {
  font-family: 'ultraThin';
  src: local('ultraThin'), url(./assets/fonts/ultraThin.ttf) format('truetype');
}

@font-face {
  font-family: 'FingerPaint';
  src: local('FingerPaint'), url(./assets/fonts/FingerPaint.ttf) format('truetype');
}

@font-face {
  font-family: 'PoiretOne';
  src: local('PoiretOne'), url(./assets/fonts/PoiretOne.ttf) format('truetype');
}

@font-face {
  font-family: 'titleFont';
  src: local('titleFont'), url(./assets/fonts/titleFont.ttf) format('truetype');
}

@font-face {
  font-family: 'RoundEdge';
  src: local('RoundEdge'), url(./assets/fonts/RoundEdge.ttf) format('truetype');
}


